  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  user-select: none;
}
body {
  font-family: 'Rubik', sans-serif;
  color: white;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #141414;
  overflow-x: hidden;
}
.section1{
  height:100vh;
  width:100%;
}
.videoBox{
  position:absolute;  
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  overflow:hidden;
  margin-top:-1.1%;
}

.video{
  overflow:hidden;
}
.navbar{
  position: sticky;
  top:0;
  z-index:100;
  display:flex;
  flex-direction: row;
  padding:0.2% 5%;
  color:#d3d3d4;
  padding-top: 10px;
  background-color: #0e0e0e07;
}
.navbar.colorChange{
    animation-name: changeNavbarColor;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}
@keyframes changeNavbarColor {
  from {background-color: #0e0e0e07;}
  to {background-color: #0e0e0eef;}
  
}
#descriptionLeft{
  padding-left:5%;
  z-index: 5;
  position: absolute;
  margin-top:-35%;
  width:40%;
}
#descriptionRight{
  display: flex;
  flex-direction: row;
  z-index: 5;
  position: absolute;
  margin-top:-22%;
  margin-left:89%;
  align-items: center ;
  width:40%;
}
.ageRating{
  background-color:#39393999;
  padding:1.5% 15% 1.5% 2%;
  font-weight: 400;
  border-left: 0.2em solid white;
}
.leftnav{
  flex-basis: 75%;
}
.rightnav{
  display: contents;
}
ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  text-align: center;
}
li{
 font-weight: 400;
 font-size:0.85em;
 flex-basis: 7em;
 align-self: center;
}
.navbar ul li img{
  height:100%;
  width:100%;
  flex-basis: 0px;
}
.navbar ul li a{
  text-decoration: none;
  color:#f3f3f3;
  font-weight: 400;
  font-size: 1.1em;
}
.rightnav ul li img{
  height:2em;
  width:2em;  
}
.rightnav ul li {
margin:0 5%; 
}

.movieTitle img{
  height:50%;
  width:50%;
}
.movieDescription{
  font-weight: 500;
  color:white;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.05em;  
  margin:3% 0;
}
.volumeButton:hover{
    background-color: none;
}
.volImg{
  height:3em;
  width: 3em;
  padding: 9px;
  border:2px solid white;
  border-radius: 50%;
}

.avatarImg{
  border-radius: 0.2em;
  border:none;
 }
.dropdown-basic{
  border:10px solid pink
}
.hoverDiv{
  z-index:10;
  background-color: lawngreen;
  position: absolute;
  width:10%;
  margin-left: -7%;
  margin-top: -3%;
}
.hoverDiv ul{
  display: flex;
  flex-direction: column;
}
.hoverDiv ul li{
  align-self: flex-start;
    flex-basis: 5em;

}
#dropdownArrow{
  animation-duration: 0.2s;
  animation-fill-mode:forwards;
  animation-timing-function: linear;
  color:white;
}

.section2{
  margin-top: -14%;
}
.genre{
  display: flex;
  margin-left: 5%;
  margin-top:3%;
  margin-bottom:1%;
  height:1.5em
}
h3{
  z-index:5;
  background-color:transparent;
}
h5{
 margin-top:auto;
 margin-left:-6%;
 display:none;
}
.genreRightIcon{
  margin-left: 0.1%;
  z-index:100;
  position: relative;
}
.genre h3 a{
  font-size: 1.1em;
  font-weight: 600;
}
.genre h5 a{
  font-weight: 600;
}
.genre h3 a, .genre h5 a{
  color: #dfdfdf;
  text-decoration: none;
}
.genreAnimationforward {
  animation-duration: 0.3s;
  animation-fill-mode:forwards;
  animation-timing-function: linear;
  animation-name: moveRightArrow;
  transition-timing-function: ease-in;
  display: block;
}
.genreAnimationbackward {
  animation-duration: 0.5s;
  animation-fill-mode:backwards;
  animation-timing-function: linear;
  animation-name: reverseMoveRightArrow;
  transition-timing-function: ease-in;
} 


@keyframes rotateArrow {
  0%   {transform: rotate(0deg); }
  50%  {transform: rotate(90deg);}
  100%  {transform: rotate(180deg);}
}
@keyframes reverseRotateArrow {
  0%   {transform: rotate(180deg);}
  50%  {transform: rotate(90deg);}
  100%  {transform: rotate(0deg);}
}

@keyframes moveRightArrow {
  0%   {margin-left:-2%;opacity: 0;}
  50%  {margin-left:0%;opacity: 0.5;}
  100%  {margin-left:1%;opacity:1;}
}

@keyframes reverseMoveRightArrow {
  0%   {margin-left:1%;opacity: 1;}
  50%  {margin-left:0%;opacity: 0.5;}
  100%  {margin-left:-6%;opacity: 0;}
}


/* SUPSCROLL */
.supscroll-wrapper a img{
  padding:0;
  margin:0;
  height: 9em;
  width:16em;
}
#supscroll {
  width:95%;
  margin-left: 5%;
}
#supscroll .supscroll-wrapper {
  width: 100%;
}
.supscroll {
  position: relative;
  width:100%;
}
.supscroll .supscroll-wrapper {
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.supscroll .supscroll-wrapper::-webkit-scrollbar { 
  display: none; 
}

.supscroll .supscroll-wrapper {
  padding: 5px 0;
}

.genreMovieImg{
  display: inline-block;
  margin-right: 10px;
  width: auto;
  height: auto;
  text-align: center;
  position: relative;
  z-index: 100;
}
.genreMovieImg:hover{
  width: 300px;
  height: 300px;
}

.control-right,
.control-left {
  height: 10em;
  width:4em;
  background-color:#00000067;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin:auto;
  z-index:2;

}
.control-right {
left:95%;
}
.control-left {
  left:0%;
}

.control-right.show :hover,
.control-left.show :hover{
  opacity: 0.98;
}
.control-right img,
.control-left img{
  position: absolute;
  left: 0;right: 0;bottom: 0;top: 0;
  margin: auto;
}
.control-right.show:hover img,
.control-left.show:hover img{
  fill: #000;
}
@media (pointer: coarse) {
  .control-right,
  .control-left {
  display: none !important;
  }
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}


.show {
transition: opacity 400ms;
}
.hide {
opacity: 0;
}
.footer{
  padding-top:7%;
  margin: auto;
  width: 65%;
}
.socialIcons{
  display: flex;
  flex-direction: row;
}
.socialIcons> a{
  margin:0 10px;
}
.footerContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footerDetails{
  display: flex;
  flex-direction: column;
}
.footerLinks{
  color:#b3b3b5;
  text-decoration: none;
  padding: 10px;
  font-size: 0.8em;
}
.footerLinks:hover{
  text-decoration: underline;
}
.footerButton{
  font-size: 0.8em;
  color:#b3b3b5;
  border:1px solid #b3b3b5;
  background-color: transparent;
  padding:5px 10px;
  margin: 20px 10px;
}
.footerButton:hover{
  cursor: pointer;
  color:#ffffff;
}
.footerDesc{
  color:#b3b3b5;
  font-size: 0.75em;
  padding:0 10px 20px 10px;
}