
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  user-select: none;
}
body {
  font-family: 'Rubik', sans-serif;
  color: white;
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.section1{
  height:100vh;
  width:100%;
}
.videoBox{
  position:absolute;
background-color: rgb(255, 71, 230);
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  overflow:hidden;
}
video{
position: relative;
  /* height:100vh; */
  width:100vw;
}
.header{
  position: absolute;
  z-index:100;
  background-color: black;
  display:flex;
  flex-direction: row;
  padding:0.2% 5%;
}
#description{
  padding-left:5%;
  z-index: 5;
  position: absolute;
  margin-top:-38%;
  height:300px;
  width:40%;
}
.leftHeader{
  flex-basis: 75%;
}
.rightHeader{
  display: contents;
}
ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  text-align: center;
}
li{
 font-weight: 400;
 font-size:0.8em;
 flex-basis: 7em;
 align-self: center;
}
.header ul li img{
  height:100%;
  width:100%;
  flex-basis: 0px;
}
.rightHeader ul li img{
  height:2em;
  width:2em;  
}
.rightHeader ul li {
margin:0 8%; 
}

.MuiButton-label{
  font-weight: 700;
  font-size: 1.2em;
  /* padding:1% 2%; */
}

.MuiButton-root{
  padding:0% 10%;
}
.movieTitle img{
  height:50%;
  width:50%;
}
.movieDescription{
  font-weight: 500;
  color:white;
  font-size: 1.2em;
  line-height: 1.5em;
letter-spacing: 0.05em;  
margin:3% 0;
}